    <%= render 'shared/locale_picker' if available_translations.size > 1 %>
    <% if user_signed_in? %>
        <%= render 'hyrax/users/notify_number' %>
        <%= link_to hyrax.dashboard_profile_path(current_user), role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false} do %>
        <span class="hidden-xs">&nbsp;<%= current_user.name %></span>
      <% end %>
        <%= link_to t("hyrax.toolbar.dashboard.menu"), hyrax.dashboard_path %>
        <%= link_to t("hyrax.toolbar.profile.logout"), main_app.destroy_user_session_path %>
  <% else %>
      <%= link_to main_app.new_user_session_path do %>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span > <%= t("hyrax.toolbar.profile.login") %>
      <% end %>
  <% end %>
