<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
    <%= render_thumbnail_tag member %>
  </td>
  <td class="attribute filename"><%= link_to(member.link_name, contextual_path(member, @presenter)) %><br />
  Uploaded: <%= member.try(:date_uploaded) %><br />
  Access: <%= member.permission_badge %></td>
  <td>
    <%= render 'actions', member: member %>
  </td>
</tr>
